/*@font-face {
  font-family: 'cwTeXHei';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.woff) format('woff'),
       url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.ttf) format('truetype');
}*/
/*@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);*/

/* reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent; }
body { line-height:1; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }
a {
	margin:0;
	padding:0;
	color: #601986;
	font-size:100%;
	text-decoration:none;
	vertical-align:baseline;
	background:transparent;
	transition: all 0.5s;
}

ol, ul, li { list-style:none; }

/* change colours to suit your needs */
ins { background-color:#ff9; color:#000; text-decoration:none; }


/* change colours to suit your needs */
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }


/* change border colour to suit your needs */
hr {
	display:block;
	margin: 5px 0;
	padding:0;
	height:1px;
	border:0;
	border-top: dashed 1px #a9a9a9;
}
input, select { vertical-align:middle; }


/**** Clearfix ****/
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
*{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height:100%;
    -webkit-text-size-adjust:none;
    background-color:#fff;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family:'Noto Sans TC', '微軟正黑體', 'Microsoft JhengHei', 'Roboto', sans-serif, vadana;
}