/*-- 767--*/

@media (max-width:1200px) {
    .star-container {
        width: 100%;
        padding: 10px;
    }

    .travel-innerMenu-fixed .star-container {
        padding: 0;
    }

    .big-images .item img {
        height: 120%;
        width: auto;
        top: 0;
        left: 0;
    }
    /*月曆*/
    .travel-calendar .box {
        width: calc((100vw - (100vw - 100%))*0.98);
    }
    .travel-calendar>.box:nth-child(3) {
        display: none;
    }
    /* 行程特色*/
    .travel-highlight .content {
        height: 250px;
    }
    .travel-highlight .content .txt {
        width: 260px;
        font-size: 14px;
        padding: 10px;
    }
    .travel-highlight .content .txt .title {
        font-size: 25px;
        line-height: 25px;
    }
    .travel-highlight .content .txt>div:after,
    .travel-highlight .content .txt>div:before {
        width: 200px;
        left: 30px;
    }

    .travel-highlight .content:nth-child(even) .txt.hover>div:after {
        right: 260px;
        left: auto;
        border-bottom: 1px solid black;
    }
    .travel-highlight .content:nth-child(odd) .txt.hover>div:after {
        left: 260px;
        right: auto;
        border-bottom: 1px solid black;
    }

    .spot.detail .description {
        width: 100%;
        margin: 10px 0;
        padding: 0 10px;
    }
}

@media (max-width:960px) {
    .introduction .photos .swiper-slide {
        height: 45vw;
    }

    /*簡介*/
    .path .breadcrumb {
        display: none;
    }


    .groupNum {
        display: inline-block;
        font-size: 16px;
        margin: 20px 10px;
    }
    .shareIcon {

        position: relative;
        width: auto!important;
        top: auto;
        right: auto;
        margin: 10px;
        display: inline-block;
        float: right;
    }

    .shareIcon a {
        float: left;
        margin: 0 5px;
        width: 40px;
        height: 40px;
    }
    .shareIcon i{
        font-size: 32px;
        line-height: 42px;
    }
    .shareIcon .tooltip.in {
        display: none!important;
    }
    .shareIcon .icon-print {
        display: none;
    }
    /*主圖輪播*/
    .introduction .photos {
        width: 100%;
        padding: 0;
    }
    .introduction .photos .swiper-slide {
        height: 65vw;
    }
    .introduction .photos .swiper-slide .introduction .photos .swiper-slide .location {
        text-align: center;
        line-height: 280px;
    }
    .introduction .photos .swiper-pagination {
        position: relative;
        margin-top: -40px;
        display: block;
    }
    .introduction .photos .swiper-pagination .img_filter {
        height: 100px;
    }
    .introduction .photos .swiper-pagination-bullet {
        width: 100px;
        flex-grow: 0;
        opacity: 1;
        margin: 0;
    }

    .introduction .brief_info {
        width: 100%;
        max-width: 550px;
        width: 80%;
        margin: 0 auto;
        float: none;
    }

    .introduction .brief_info .marketing_name {
        width: 100%;
        text-align: center;
    }
    .booking_info {
        margin: 0 auto 10px auto;
        max-width: 550px;
        width: 80%;
        float: none;
    }
    .booking_info .txt {
        width: 100%;
        text-align: right;
        padding-right: 30px;
        margin-bottom: 10px;
    }
    .booking_info .price {
        text-align: right;
        line-height: 30px;
    }
    .booking_info .btn_box {

        text-align: center;
        width: 100%;
    }

    .booking_info .btn_box .signUpBtn {
        width: 90%;
    }

    /*行程特色*/
    .travel-highlight .spot.img3 .img_box,
    .travel-highlight .spot.img2.landscape .img_box {
        height: calc(100vw / 3 - 20px);
    }
    .travel-highlight .spot.img2.portrait .img_box {
        height: calc( 100vw * 16/25 - 20px);
    }
    /*每日行程*/
    .spot_box.grid_1,
    .spot_box.grid_3 {
        height: calc(80vw * 9/16);
        width: 80vw;
    }
    .spot_box.grid_2 {
        height: calc(80vw * 9/16*0.8);
        width: 80vw;
    }
    .spot_box.grid_4,
    .spot_box.grid_5,
    .spot_box.grid_6,
    .spot_box.grid_7,
    .spot_box.grid_8 {
        height: calc(80vw * 10/15);
        width: 80vw;
    }
    .travel-itinerary-spots .other_box {
        width: 80vw;
    }
}

@media (max-width:768px) {

    .star-container {
        padding: 0;
    }
    .header_padding {
        padding-top: 60px;
    }
    .travel-innerMenu-fixed {
        display: none;
    }
    /*共用*/
    .panel-collapse.collapse {
        display: none;
        visibility: hidden;
        height: 0!important;
    }
    .panel-collapse.collapse.in {
        display: block;
        visibility: visible;
        height: auto!important;
    }
    .travel-panel .panel-default>.panel-heading {
        display: inline-block;
        border: 0;
    }

    .panel-heading .fa.fa-chevron-up,
    .panel-heading .collapsed .fa.fa-chevron-down {
        display: inline-block;
    }
    .panel-heading .collapsed .fa-chevron-up,
    .panel-heading .fa-chevron-down {

        display: none;
    }


    .travel-panel .panel-group h2 {
        display: none;
    }
    #travel-highlight .travel-block {
        padding: 0;
    }

    .travel-panel .panel-body {
        padding: 0;
    }
    .travelInformation .travelInformation-more-mobile {
        display: none;
    }



    /*簡介*/
    .travelInformation {
        height:auto;
        overflow: hidden;
        position: relative;
        transition: .3s;
    }

    .introduction .photos {
        margin-bottom: 10px;
    }
    .introduction .photos .swiper-pagination {
        height: 26px;
        position: absolute;
        bottom: -12px;
        width: auto;
        left: auto;
        right: 14px;
    }
    .introduction .photos .swiper-pagination .img_filter {
        height: 5px;
        margin: 2px;
        width: 10px;
        border-radius: 50px;
        background:white;
        background-image: none!important;
        opacity: 0.8;
    }
    .introduction .photos .swiper-pagination .img_filter.swiper-pagination-bullet-active{
        opacity: 1;
        background:  #8b48a0;
    }
    .travelTitle {
        padding: 0 10px;
    }

    .qrcode_img {
        display: block;
        margin: 10px auto;
    }

    /*三塊*/
    .travel-3block .travel-3block-text,
    .travel-3block .travel-3block-img {
        float: none;
    }
    .travel-calendar-btn {
        top: -1px;
    }




    /*行程特色*/
    .travel-highlight .theme {
        margin: 20px 10px;
    }
    .travel-highlight .theme .topic_en {
        display: none;
    }
    .travel-highlight .banner {
        height: 200px;
    }

    .travel-highlight .banner,
    .travel-highlight .content {
        padding: 0;
    }

    .travel-highlight .banner .topic {
        width: 150px;
        height: 150px;

        font-size: 40px;
        line-height: 150px;
    }
    /*月曆*/
    .bk {
        padding: 10px 0;
    }
    .travel-calendar .box_con .box:nth-child(2) {
        display: none;
    }
    .travel-calendar-btn {
        height: auto;
    }
    .travel-calendar-btn a {
        width: 100%;
        text-decoration: underline;
    }

    .travel-calendar-btn:hover a,
    .travel-calendar-btn:focus a {
        margin-top: 0px;
        -moz-animation: bounce 1s 0;
        -webkit-animation: bounce 1s 0;
        animation: bounce 1s 0;
        animation-timing-function: linear;
    }

    .travel-calendar-btn:hover .curve,
    .travel-calendar-btn:focus .curve {
        height: 0px;

        -moz-animation: bkbounce 1s 0;
        -webkit-animation: bkbounce 1s 0;
        animation: bkbounce 1s 0;
    }
    .travel-calendar .control_btn {
        top: 22px;
    }
    .travel-calendar .weekdays {
        display: none;
    }
    .travel-calendar .days li {
        display: none;
        width: 100%;
        height: 50px;
    }
    .travel-calendar .days li.available,
    .travel-calendar .days li.not-available {
        display: block;
    }

    .travel-calendar .days li.available:hover {
        border: 0px solid #c2c1c1;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-left: 1px solid rgba(0, 0, 0, 0.1);
    }
    .travel-calendar .days li.current,
    .travel-calendar .days li.available.current:hover {
        border: 1px solid #42275a;
        border-bottom: 1px solid #42275a;
    }
    .travel-calendar .days li.available:hover .date {
        background: white;
    }
    .travel-calendar .days li i {

        top: 13px;
        right: 100px;
        border-radius: 100px;
    }
    .travel-calendar .days li i:after {
        display: none;
    }
    .travel-calendar .days li span {
        display: inline-block;
        font-size: 16px;
        line-height: 50px;
    }

    .travel-calendar .days li .date {
        position: absolute;
        width: auto;
        height: 100%;
        width: 55px;
    }
    .travel-calendar .days li.available .date,
    .travel-calendar .days li.not-available .date,
    .travel-calendar .days li.current.available .date,
    .travel-calendar .days li.current.available:hover .date,
    .travel-calendar .days li.available .date {
        color: #666666;
        background: white;
        font-weight: bolder;
        padding: 0 5px 0 10px;
    }

    .travel-calendar .days li .date:after {
        content: "日";
        display: inline-block;
    }
    .travel-calendar .days li .price {
        padding-left: 55px;
        margin-top: 0;
        line-height: 50px;
        text-align: left;
    }
    .travel-calendar .days li .status {
        float: right;
        padding-right: 25px;
    }
    .travel-calendar .days li.available .status {
        color: green;
    }
    .travel-calendar .days li.available .more {
        display: none;
    }


    /*交通資訊*/
    .traffic.txt_imp {
        margin: 10px 0;
        display: inline-block;
        text-align: center;
    }
    .flight_detail {
        margin: 10px;
    }
    .flight_detail .go {
        margin-bottom: 30px;
    }
    .flight_detail .title .tag {
        padding: 10px 5px;
        color: #333333;
    }
    .flight_detail .flight {
        display: block;
        line-height: 24px;
        padding-left: 20px;
    }
    .flight_detail .box.focus.flight:hover,
    .flight_detail .box.focus .flight.hover {
        background-color: transparent;
    }
    .flight_detail .flight>.box {
        font-size: 16px;
        color: #808080;
    }
    .flight_detail .flight .flight_date {
        float: right;
        text-align: right;
    }
    .flight_detail .flight .flight_time {
        font-size: 18px;
        font-weight: bolder;
        color: #333333;
    }

    .flight_detail .flight .airport .city:first-child {
        margin-left: 0;
    }
    .flight_detail .flight .status {
        text-align: center;
        background: #eeeeee;
        margin-top: 10px;
        border-radius: 2px;
    }
    .flight_detail .summary .info .time .clock {
        color: #932C8B
    }
    .flight_detail .summary .graph .progress_bar .bar.layover {
        margin: 0 1px;
    }
    .flight_detail .summary .graph .progress_bar .bar .duration {
        display: none;
    }
    .flight_detail .summary .info.arrive .time {
        /*min-width: 100px;*/
    }
    /*行程特色*/
    /*每日行程*/
    .travel-itinerary-day .container {
        padding: 0 10px 40px 0;
    }
    .spot_box .spot{
        border: 1px solid white;
    }
    .spot_box .spot .option{
         display: none;
    }
    .spot_box .spot .txt_box{
        display: none;
    }
    .spot_box .spot:hover .txt_box .location {
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .spot_box .spot .txt_box .description {

        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .spot_box .spot.only_word .txt_box .description {
        white-space: nowrap;
    }

    .spot_box .spot .txt_box {
        width: 100%;
        padding: 10px 5px;
    }
    .spot_box .spot .txt_box .location {
        text-align: center;
    }
    .spot_box.grid_4 {
        height:
    }
    /*看更多團*/
    .moreGroup-btn {
        width: 100%;
    }
    .moreGroup-block .price {
        margin: 15px;
        text-align: center;
    }
}

@media(max-width: 480px) {
    /*簡介*/
    .travelInformation {
        height: auto;
    }
    .travel-mobile-bottom-signUp {
        display: inline-block;
        width: 100%;
    }
    .travelInformation .travelTitle {
        margin-top: 10px;
        font-size: 22px;
        font-weight: bold;
        line-height: 30px;
    }
    .introduction .brief_info .marketing_name span {
        font-size: 14px;
    }
    .introduction .brief_info {
        width: 100%;
        min-width: auto;
        padding: 0 10px;
        float: left;
    }
    .booking_info {
        width: 100%;
        min-width: auto;
    }
    /*三塊*/
    .travel-3block {
        display: block;
    }

    .travel-3block .item {
        width: 100%;
        display: inline-block;
        margin-bottom: 10px;
        flex-wrap: nowrap;
        text-align: center;
    }

    .travel-3block .item .travel-3block-img {
        width: auto;
        height: auto;
        position: relative;
        top: -5px;
    }
    .travel-3block .travel-3block-img i {
        font-size: 40px;
    }
    .travel-3block .item .travel-3block-text {
        margin: 0 10px;
        min-width: 160px;
        text-align: left;
    }
    /*月曆*/
    .travel-calendar {
        padding: 0;
    }




    /* 交通資訊*/
    .flight_detail .summary .graph .progress_bar .bar .txt i{
        display: none;
    }
    .flight_detail .summary:after {
        padding: 0 10px 0 5px;
    }
    .flight_detail .summary .graph {
        flex-basis: 80%;
    }
    .flight_detail .summary .info {
        padding: 0 10px 0 20px;
    }
    .flight_detail .summary .info.arrive {
        min-width: 110px;
    }
    .flight_detail .summary .info .time .clock {
        font-size: 25px;
    }
    .flight_detail .title .duration,
    .flight_detail .title .date {
        font-size: 13px;
        color: #808080;
    }
    .flight_detail .flight .airport {
        min-width: 285px;
    }
    /*行程特色*/
    .travel-highlight {
        padding: 10px 0;
    }
    .travel-highlight .theme {
        margin-top: 20px;
    }
    .travel-highlight .theme .topic {
        position: relative;
        width: 100%;
        left: 0;
        min-height: auto;
        height: auto;
        background: black;
        line-height: 40px;
    }

    .travel-highlight .theme:nth-child(5n+1) .topic,
    .travel-highlight .theme:nth-child(5n+2) .topic,
    .travel-highlight .theme:nth-child(5n+3) .topic,
    .travel-highlight .theme:nth-child(5n+4) .topic,
    .travel-highlight .theme:nth-child(5n) .topic {
        background: white;
        margin: 10px 0;
    }

    .travel-highlight .theme .topic_zh,
    .travel-highlight .theme .topic_en {
        writing-mode: horizontal-tb;
        display: block;
        color: #333333;
        margin: 0;
        line-height: 24px;
        font-size: 24px;
    }
    .travel-highlight .theme .topic_zh {
        font-size: 20px;
    }

    .travel-highlight .theme .topic_en {
        font-size: 16px;
        text-align: center;
    }
    .travel-highlight .theme .topic_zh:before,
    .travel-highlight .theme .topic_zh:after {
        content: '-';
        width: 40px;
        text-align: center;
        display: inline-block;
    }
    .travel-highlight .spot .img_filter:after {
        display: none;
    }
    .travel-highlight .spot .txt_box {
        position: relative;
        color: #333333;
        background: none;
    }
    .travel-highlight .spot .txt_box .title {
        display: inline-block;
        font-size: 16px;
    }
    .travel-highlight .spot .txt_box p {
        text-align: center;
        margin-top: 5px;
        display: inline;
        color: #808080;
    }
    .travel-highlight .spot .txt_box,
    .travel-highlight .spot.img2.landscape .txt_box,
    .travel-highlight .spot.img3 .txt_box,
    .travel-highlight .spot.img2.portrait .txt_box {
        background: none;
        padding: 10px 10px 30px;
        width: 100%;
        color: #333333;
    }
    .warning {
        width: 90%;
        margin: 0 auto;
    }
    .warning:before {
        height: 50px;
        width: 95%;
        left: 2.5%;
        top: 5px;
    }
    .warning .txt_box {
        display: block;
        background: none;
    }

    .warning .txt_box .title {
        display: block;
        height: 60px;
        line-height: 60px;
    }
    .warning .txt_box .txt {
        display: block;
    }


    /*每日行程*/
    .travel-itinerary-day {
        padding: 0px;
    }

    .travel-itinerary-day:last-child:after {
        display: none;
    }
    .travel-itinerary-title .day_count {
        position: relative;
        background: none;
        left: 0;
        margin: 0 auto;
    }

    .travel-itinerary-title .day_count .txt {
        color: #8b48a0;
        font-size: 40px;
        top: 0;
    }

.travel-itinerary-title .title .type{
        color: #8b48a0;
    background: white;
    border-color: white;
    position: relative;
    top: -10px;
    display: block;
    text-align: center;


}


    .travel-itinerary-day .container {
        border: 0px solid transparent;
        padding: 0 0 40px 0;
    }
    .travel-itinerary-title {
        padding: 10px;
        margin-bottom: 10px;
    }
    .travel-itinerary-hotel,
    .travel-itinerary-food {
        padding: 0px 0 0px 50px;
    }
    .travel-itinerary-food .icon,
    .travel-itinerary-hotel .icon {
        left: 2px;
        top: 0;
    }
    .travel-itinerary-food .icon img,
    .travel-itinerary-hotel .icon img {
        display: none;
    }
    .travel-itinerary-food .icon i,
    .travel-itinerary-hotel .icon i {
        top: 0px;
        width: 30px;
        height: 30px;
        line-height: 28px;
        font-size: 14px;
    }

    .travel-itinerary-spots {
        overflow: hidden;
    }
    .travel-itinerary-spots .other_box {
        width: auto;
        margin: 10px;
    }
    .spot_box.grid_1,
    .spot_box.grid_3 {
        height: calc(100vw * 9/16);
        width: 100%;
    }
    .spot_box.grid_2 {
        height: calc(100vw * 9/16*0.8);
        width: 100%;
    }
    .spot_box.grid_4,
    .spot_box.grid_5,
    .spot_box.grid_6,
    .spot_box.grid_7,
    .spot_box.grid_8 {
        height: auto;
        width: 100%;
    }
    .spot_box.grid_4 .spot,
    .spot_box.grid_4 .spot:first-child,
    .spot_box.grid_5 .spot,
    .spot_box.grid_5 .spot:first-child,
    .spot_box.grid_6 .spot,
    .spot_box.grid_6 .spot:first-child,
    .spot_box.grid_7 .spot,
    .spot_box.grid_8 .spot {
        width: 50%;
        height: calc(100vw * 9/16*0.6);
    }
    .spot_box.grid_5 .spot:nth-child(2) {
        height: calc(100vw * 9/16 *2*0.6);
        float: right;
    }
    .spot_box.grid_7 .spot:first-child,
    .spot_box.grid_8 .spot:first-child,
    .spot_box.grid_8 .spot:nth-child(2) {
        width: 100%;
        height: calc(100vw * 9/16*0.8);
    }


    .spot.detail .img_box {
        max-width: 100%;
    }
    .spot.detail .img_box img {
        max-width: 100%;
        max-height: 100%;
    }
    .spot.detail .warning {
        width: 100%;
    }

    /*作業說明*/
    .travel-description {
        padding: 10px;
    }

    footer{
        height: 15px;
        background: #333333;
    }
}













.gotoTop {
    display: block;
}











































}

@media (max-width:768px) {
    /*手機板collapse*/
}