/*-- 767--*/

@media (max-width:1200px) {}

@media (max-width:960px) {}

@media (max-width:768px) {}

@media(max-width: 480px) {
    .arrow{
        display: none;
    }
    .work .description {
        margin: 0px 0 0px 0;
    }

    .work .description ul li {
        min-width: 120px;
        list-style: circle;
        list-style-position: inside;
        margin: 4px auto;
        text-align: left;

    }
    .demo .txt{
        margin:20px 0;
    }





}

@media (max-width:768px) {
    /*手機板collapse*/
}